* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url('../media/images/bosque.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #104c71;
    opacity: 0.5;
    z-index: -1;
}

.nav-cont {
    display: flex;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    color: white;
    align-items: center;
    align-self: center;
}

.name-cont {
    width: 60%;
    text-align: left;
    padding: 10px 60px;
}

.name-us {
    font-size: 20px;
    cursor: pointer;
}

.option-cont {
    width: 40%;
    text-align: center;
    padding: 10px;
}

.opciones {
    list-style: none;
    padding: 0px;
    width: 100%;
    margin: auto;
    display: flex;
}

.nav-option {
    color: white;
    text-decoration: none;
    flex-grow: 1;
    text-align: center;
}

.nav-option a {
    text-decoration: none;
    color: rgb(218, 218, 218);
    font-family: sans-serif;
}

.active a {
    text-decoration: underline;
    color: #ffff;
    font-size: 18px;
    font-weight: 700;
    transition: all 0.5s;
}

.nav-option:hover a {
    text-decoration: underline;
    color: #ffff;
    font-weight: 700;
    transition: all 0.5s;
}


/* --------------------------
*** MENU LATERAL*************
------------------------------*/

.icon-menu {
    font-size: 25px;
    cursor: pointer;
    margin-right: 20px;
}

.menu-box {
    background-color: rgba(10, 58, 81, 0.8);
    width: 100%;
    max-width: 400px;
    height: 100vh;
    padding: 10px;
    display: block;
    position: fixed;
    color: #ffff;
    left: -400px;
    transition: all 0.5s;
}

.activo {
    left: 0px;
    transition: all 0.5s;
}

.exit-btn {
    float: right;
    font-size: 20px;
    cursor: pointer;
}

.menu-head {
    text-align: center;
}

.menu-img {
    width: 150px;
    height: 150px;
    border-radius: 180px;
    overflow: hidden;
    margin: auto;
    margin-top: 10px;
    position: relative;
    background-color: #fff;
    box-shadow: 3px 5px 5px rgba(0, 255, 255, 0.5);
}

.menu-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
}


/******BODY DE MENU**********/

#accordeon .accordion-button {
    background-color: #104c71;
    color: #fff;
}


/***** Sub Menu *******/

.sub-menu {
    list-style: none;
    padding: 0px;
    width: 100%;
    margin: 0px;
}

.sub-menu-item {
    width: 100%;
}

.sub-menu-item a {
    display: block;
    color: black;
    text-decoration: none;
    font-size: 20px;
    width: 100%;
    transition: all 0.5s;
}

.sub-menu-item a:hover {
    text-decoration: underline;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 0px 40px;
    color: #104c71;
    transition: all 0.5s;
}


/************** Quiar *************/

.menu-foot {
    position: fixed;
    bottom: 0px;
}

.author-g {
    color: #fff;
    font-size: 10px;
    text-align: center;
    margin-top: 10px;
}


/* Contenedores */

.cont-g {
    margin: auto;
    margin-top: 50px;
    /* background-color: #104c71; */
    width: 90%;
}


/***********************************
***
**      RESPONSIVE DESAING
*
************************************/

@media(max-width:600px) {
    .nav-cont {
        display: block;
    }
    .name-cont,
    .option-cont {
        width: 100%;
    }
    .cont-g {
        width: 95%;
        margin-top: 120px;
    }
}